

.contact tr {
    height: 7rem;
  }
  
  .contact th {
    width: 400px;
    text-align: right;
  }
  
  .contact td {
    width: 480PX;
    padding-left: 10px;
  }
  
  .center {
    text-align: center;
  }
  .button {
    margin: 10px;
    cursor: pointer;
    background-color: #008B8B;
    font-size: 3rem;
    color: #fff;
    border: none;
  }
  
  .button:hover {
    opacity: 0.6;
    box-shadow: none;
  }
  